<script src="../service/caregiver.service.ts"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div style="text-align: center">
  <button type="submit" (click)="deletePatient()">Delete selected</button>
  <button type="submit" (click)="updatePatient()">Update selected</button>
  <button type="submit" (click)="createPatient()">Create Patient</button>
  <button type="submit" (click)="createMedicationPlan()">Create Medication Plan</button>
  <br>
  <button type="submit" (click)="listActivities()">Show activities</button>
  <button type="submit" (click)="listMedicationLog()">Show medication log</button>
</div>
<table class="table table-bordered" style="text-align: center">
  <thead class="thead-dark">
    <th scope="col">Patient NO </th>
    <th scope="col"> Name </th>
    <th scope="col"> Address </th>
    <th scope="col"> Birth Date </th>
    <th scope="col"> Gender </th>
    <th scope="col"> Medical Record </th>
    <th scope="col"> Patient Details </th>
    <th scope="col"> Selected </th>
  </thead>
  <tbody>
    <tr *ngFor="let patient of patients; index as i" >
      <th scope="row"> {{i + 1}} </th>
      <td > {{patient.name}} </td>
      <td > {{patient.address}} </td>
      <td > {{patient.birthDate}} </td>
      <td > {{patient.gender}} </td>
      <td> {{patient.medicalRecord}}</td>
      <td>
        <table class="table" *ngIf="patient.medicationPlan.length != 0">
          <thead >
          <th scope="col">Medication NO</th>
          <th scope="col">Start Time</th>
          <th scope="col">Period</th>
          <th scope="col">Name/Description</th>
          </thead>
          <tbody>
          <tr *ngFor="let medicationPlan of patient.medicationPlan; index as i ">
            <th scope="row">{{medicationPlan.id}}</th>
            <th > {{medicationPlan.startTime}}</th>
            <td>{{medicationPlan.period}}</td>
            <td>
              <table>
                <thead class="thead-dark">
                <th scope="col">Name</th>
                <th scope="col">Side effects</th>
                <th scope="col">Dosage</th>
                <th>Intake Interval</th>
                </thead>
                <tbody>
                <tr *ngFor="let med of medicationPlan.medicationPlan; index as intervalCount">
                  <td>{{med.name}}</td>
                  <td>{{med.sideEffects}}</td>
                  <td>{{med.dosage}}</td>
                  <td>{{medicationPlan.intakeIntervals[intervalCount]}}</td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
      <td>
            <input type="radio" name="selection" value="{{i}}" [(ngModel)]="selectedPatient"/>
      </td>
    </tr>
  </tbody>
</table>
<!--add bootstrap button-->

