<p> {{user.name}}</p>
<!--<form (click)="" )="updateUser()">-->
<div>
  <label for="id">Id</label>
  <input id="id" type="text" value="{{user.id}}" ngModel="{{user.id}}" readonly>
  <label for="name">Name</label>
  <input id="name" type="text" value="{{user.name}}" [(ngModel)]="user.name">
  <label for="username">Username</label>
  <input id="username" type="text" value="{{user.username}}" >
  <label for="cnp">CNP</label>
  <input id="cnp" type="text" value="{{user.cnp}}" >
  <div *ngIf="user.role==='Patient'">
    <label for="caregiver">CNP</label>
    <input id="caregiver" type="text" value="{{user}}" >
  </div>
  <input type="button" value="Update!" (click)="updateUser()">
</div>
<!--</form>-->
