<script src="../service/caregiver.service.ts"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<div id="datePicker">
  <label for="date"> Please pick a date!  </label>
  <br>
  <input id="date" type="date" [(ngModel)]="dateSelected" value="{{ dateSelected | date: 'yyyy-MM-dd' }}" (change)="loadMedicationLog()"/>
</div>

<div>
  <table class="table table-bordered" style="text-align: center">
    <thead class="thead-dark">
    <th> Index </th>
    <th scope="col"> Message </th>
    <th scope="col"> Date&Hour </th>
    </thead>
    <tbody>
    <tr *ngFor="let log of medicationLog; index as i" >
      <th scope="row"> {{i + 1}} </th>
      <td > {{log.message}} </td>
      <td > {{log.date}} </td>
    </tr>
    </tbody>
  </table>
</div>
