<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<br>
<p>Create medication plan for: {{forPatient.name}}</p>
<br>
<table class="table" >
  <thead class="thead-dark">
  <th scope="col">Medication ID </th>
  <th scope="col"> Name </th>
  <th scope="col"> Dosage  </th>
  <th scope="col"> Side Effects </th>
  <th scope="col"> Intake intervals </th>
  </thead>
  <tbody>
  <tr *ngFor="let medication of selectedMedications; index as i" >
    <th scope="row"> {{medication.id}} </th>
    <td > {{medication.name}} </td>
    <td > {{medication.dosage}} </td>
    <td > {{medication.sideEffects}} </td>
    <td > {{intakeIntervalsSelected[i]}} </td>

  </tr>
  </tbody>
</table>

<div style="text-align: center">
<form>
  <label>
    <select [(ngModel)]="selectedMedication" [ngModelOptions]="{standalone: true}">
      <option *ngFor="let medication of medications; index as i" value="{{i}}">{{medication.name}} - {{medication.dosage}}</option>
    </select>
  </label>
  <br>
  <label>
    <label for="dimineataCheck">Dimineata</label>
    <input id= "dimineataCheck" name="dimineataCheck" [(ngModel)]="intakeIntervals[0]" type="checkbox"/>
    <label for="pranzCheck">Pranz</label>
    <input id = "pranzCheck" name="pranzCheck" [(ngModel)]="intakeIntervals[1]" type="checkbox"/>
    <label for="searaCheck">Seara</label>
    <input id = "searaCheck" name="searaCheck" [(ngModel)]="intakeIntervals[2]" type="checkbox"/>
  </label>
</form>
  <button type="submit" (click)="addMed()">Add medication</button>

  <h5>This medication plan will be taken for
    <label for="period"></label>
    <input id="period" type="number" [(ngModel)]="medicationPlanPeriod">
    days, starting on:
    <label for="startTime"></label>
    <input id="startTime" type="date" [(ngModel)]="medicationPlanStart">
  </h5>

  <input type="button" (click)="createMedicationPlan()" value="Create medication plan!">
</div>
