
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!--<h3>Patient name: <i>{{patient.name}}</i></h3>-->
<h4>Welcome back, {{patient.name}}</h4>
<h5>Your doctor is: <b>{{doctor.name}}</b> and your caregiver: <b>{{caregiver.name}}</b></h5>
<h5>Here are your account details: </h5>
<input type="button" value="Logout" style="float: right; margin-right: 50px" (click)="logout()">
<ul>
  <li>Username: <b>{{patient.username}}</b></li>
  <li>Gender: <b>{{patient.gender}}</b></li>
  <li>Adress: <b>{{patient.address}}</b></li>
  <li>BirthDate: <b>{{patient.birthDate}}</b></li>
  <li>Medical Record: <b><i>{{patient.medicalRecord}}</i></b></li>
</ul>
<h5>Right now, you have {{patient.medicationPlan.length}} medical plan(s).</h5>
<br><br>
<table class="table table-bordered" style="text-align: center">
  <thead style="background-color: aqua">
    <th>Medication NO</th>
    <th>Start Time</th>
    <th>Period</th>
    <th>Medication</th>
  </thead>
  <tbody>
    <tr *ngFor="let medicationPlan of patient.medicationPlan; index as i ">
      <td>{{medicationPlan.id}}</td>
      <td>{{medicationPlan.startTime}}</td>
      <td>{{medicationPlan.period}}</td>
      <td>
        <table style="text-align: center">
          <thead>
            <th>Medication Name</th>
            <th>Dosage</th>
            <th>Side Effect(s)</th>
            <th>Intake Interval</th>
          </thead>
          <tbody>
            <tr *ngFor="let med of medicationPlan.medicationPlan; index as intervalCount">
              <td>{{med.name}}</td>
              <td>{{med.dosage}}</td>
              <td>{{med.sideEffects}}</td>
              <td>{{medicationPlan.intakeIntervals[intervalCount]}}</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
