<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<br>
<div style="text-align: center">
  <button type="submit" (click)="createMedication()">Add medication</button>
</div>
<br>
<table class="table" >
  <thead class="thead-dark">
  <th scope="col">Medication ID </th>
  <th scope="col"> Name </th>
  <th scope="col"> Dosage  </th>
  <th scope="col"> Side Effects </th>
  </thead>
  <tbody>
  <tr *ngFor="let medication of medications; index as i" >
    <th scope="row"> {{medication.id}} </th>
    <td > {{medication.name}} </td>
    <td > {{medication.dosage}} </td>
    <td > {{medication.sideEffects}} </td>
  </tr>
  </tbody>
</table>
