
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!--<h3>Patient name: <i>{{patient.name}}</i></h3>-->
<h4>Welcome back, {{caregiver.name}}</h4>
<h5>Here are your account details: </h5>
<input type="button" value="Logout" style="float: right; margin-right: 50px" (click)="logout()">
<ul>
  <li>Username: <b>{{caregiver.username}}</b></li>
  <li>Gender: <b>{{caregiver.gender}}</b></li>
  <li>Adress: <b>{{caregiver.address}}</b></li>
  <li>BirthDate: <b>{{caregiver.birthDate}}</b></li>
</ul>
<h5>Right now, you have {{caregiver.patients.length}} patient(s) assigned.</h5>
<br><br>
<table class="table table-bordered" style="text-align: center">
  <thead class="thead-dark">
  <th scope="col">Patient NO </th>
  <th scope="col"> Name </th>
  <th scope="col"> Address </th>
  <th scope="col"> Birth Date </th>
  <th scope="col"> Gender </th>
  <th scope="col"> Medical Record </th>
  <th scope="col"> Recomandation(s) </th>
  </thead>
  <tbody>
  <tr *ngFor="let patient of caregiver.patients; index as i" >
    <th scope="row"> {{i + 1}} </th>
    <td > {{patient.name}} </td>
    <td > {{patient.address}} </td>
    <td > {{patient.birthDate}} </td>
    <td > {{patient.gender}} </td>
    <td> {{patient.medicalRecord}}</td>
    <td> <input type="submit" value="Show" (click)="showRecomandations(patient.id)">  </td>
  </tr>
  </tbody>
</table>
