
<div>
<table>
<!--  <label for="name">Name</label>-->
<!--  <input id="name" type="text" value="{{medication.name}}" [(ngModel)]="medication.name">-->
<!--  <label for="sideEffects">Side Effects</label>-->
<!--  <input id="sideEffects" type="text" value="{{medication.sideEffects}}" [(ngModel)]="medication.sideEffects">-->
<!--  <label for="dosage">Dosage</label>-->
<!--  <input id="dosage" type="text" value="{{medication.dosage}}" [(ngModel)]="medication.dosage">-->
  <thead>
    <th> Medication Name </th>
    <th> Side Effects</th>
    <th> Dosage </th>
  </thead>
  <tbody>
    <tr>
      <td>
        <input id="name" type="text" [(ngModel)]="medication.name">
      </td>
      <td>
          <input type="text" [(ngModel)]="medication.sideEffects">
      <td>
          <input id="dosage" type="text" [(ngModel)]="medication.dosage">
      </td>
    </tr>
  </tbody>
</table>
  <input type="button" value="Create!" (click)="addSideEffect()">
</div>
