.tables {
  display: inline-block;
  width: 100%;
}

.result {
  margin: auto;
}

p {
  text-align: center;
}

body {
  display:flex;
  margin:0;
  flex-direction:column;
  width: 100%;
}

.buttonClass {
  width: 5%;
  margin: auto;
}
