

<html>
<script src="../service/caregiver.service.ts"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<body>
<div class="tables">
  <table class="table table-bordered" style="width: 50%; float: left">
    <thead class="thead-dark">
    <th scope="col">Patient id </th>
    <th scope="col"> Name </th>
    <th scope="col"> Address </th>
    <th scope="col"> Gender </th>
    <th scope="col"> Selected </th>
    </thead>
    <tbody>
    <tr *ngFor="let patient of patients; index as i" >
      <th scope="row"> {{patient.id}} </th>
      <td > {{patient.name}} </td>
      <td > {{patient.address}} </td>
      <td > {{patient.gender}} </td>
      <td>
        <form>
          <label for="patient"></label><input id="patient" type="radio" name="selection" value="{{i}}" [(ngModel)]="selectedPatient"/>
        </form>
      </td>
  </table>

  <table style="width: 49%" class="table table-bordered">
    <thead class="thead-light">
    <th scope="col">Caregiver Id </th>
    <th scope="col"> Name </th>
    <th scope="col"> Gender </th>
    <th scope="col"> Assigned Patients </th>
    <th scope="col"> Selected </th>
    </thead>
    <tbody>
    <tr *ngFor="let caregiver of caregivers; index as i" >
      <th scope="row"> {{caregiver.id}} </th>
      <td > {{caregiver.name}} </td>
      <td > {{caregiver.gender}} </td>
      <td> {{caregiver.patients.length}} </td>
      <td>
        <form>
          <label for="caregiver"></label><input id="caregiver" type="radio" name="selection" value="{{i}}" [(ngModel)]="selectedCaregiver"/>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<br><br><br>
<!--<h4 *ngIf="selectedPatient && selectedCaregiver"> {{patients[selectedPatient].name}} will be assigned to {{caregivers[selectedCaregiver].name}}</h4>-->
<div class="result">
  <b *ngIf="selectedPatient">{{patients[selectedPatient].name}}</b>
  will be assigned to
  <b *ngIf="selectedCaregiver">{{caregivers[selectedCaregiver].name}}</b>
</div>

<br><br>
<input type="button" value="Create!" (click)="assign()" class="buttonClass">
</body>
</html>
