<script src="../service/caregiver.service.ts"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div style="text-align: center; width: 50%; margin: auto">
  <div class="form-group">
  <label for="name">Name</label>
  <input class="form-control" id="name" type="text" value="{{caregiver.name}}" [(ngModel)]="caregiver.name">
  </div>
  <div class="form-group">
  <label for="username">Username</label>
  <input class="form-control" id="username" type="text" value="{{caregiver.username}}" [(ngModel)]="caregiver.username">
  </div>
  <div class="form-group">
  <label for="password">Password</label>
  <input class="form-control" id="password" type="text" value="{{caregiver.password}}" [(ngModel)]="caregiver.password">
  </div>
  <div class="form-group">
    <label for="address">Address</label>
  <input class="form-control" id="address" type="text" value="{{caregiver.address}}" [(ngModel)]="caregiver.address">
  </div>
    <label for="date">Birth Date</label>
  <input id="date" type="text" placeholder="yyyy-mm-dd" value="{{caregiver.birthDate}}" [(ngModel)]="caregiver.birthDate">
<!--  <br>-->
<!--  <br>-->
  <div class="form-group">
  <input type="radio" id="contactChoice1"
         name="contact" value="Male" [(ngModel)]="caregiver.gender">
  <label for="contactChoice1">M</label>

  <input type="radio" id="contactChoice2"
         name="contact" value="Female" [(ngModel)]="caregiver.gender">
  <label for="contactChoice2">F</label>
  </div>
<!--  <br>-->
  <input type="button" value="Create!" (click)="createCaregiver()">
</div>
