<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<!--add bootstrap button-->
<div style="text-align: center">
  <button type="submit" (click)="deleteCaregiver()">Delete selected</button>
  <button type="submit" (click)="updateCaregiver()">Update selected</button>
  <button type="submit" (click)="createCaregiver()">Create Caregiver</button>
</div>
<table class="table" >
  <thead class="thead-dark">
  <th scope="col">Caregiver NO </th>
  <th scope="col"> Name </th>
  <th scope="col"> Address </th>
  <th scope="col"> Birth Date </th>
  <th scope="col"> Gender </th>
  <th scope="col"> Assigned Patients </th>
  <th scope="col"> Selected </th>
  </thead>
  <tbody>
  <tr *ngFor="let caregiver of caregivers; index as i" >
    <th scope="row"> {{i + 1}} </th>
    <td > {{caregiver.name}} </td>
    <td > {{caregiver.address}} </td>
    <td > {{caregiver.birthDate}} </td>
    <td > {{caregiver.gender}} </td>
    <td>
      <table class="table">
        <thead class="thead-dark">
        <th scope="col">Patient ID</th>
        <th scope="col">Name</th>
        <th scope="col">medicalRecord</th>
        </thead>
        <tbody>
        <tr *ngFor="let patient of caregiver.patients; index as i ">
          <th scope="row">{{patient.id}}</th>
          <td>{{patient.name}}</td>
          <td>{{patient.medicalRecord}}</td>
        </tr>
        </tbody>
      </table>
    </td>
    <td>
      <input type="radio" name="selection" value="{{i}}" [(ngModel)]="selectedCaregiver"/>
    </td>
  </tr>
  </tbody>
</table>
