<script src="../service/caregiver.service.ts"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div style="text-align: center; width: 15%; margin: auto; margin-top: 200px">
<!--<form (ngSubmit)="loginButtonPressed()">-->
  <div class="form-group">
  <label for="username">Username</label>
  <input id="username" name="usernameInput" type="text" [(ngModel)]="username">
  </div>
    <div class="form-group">

    <label for="password">password</label>
  <input id="password" name="passwordInput" type="password" [(ngModel)]="password">
    </div>
  <button id="login-button" type="submit" (click)="loginButtonPressed()">Login</button>
<!--</form>-->
  <br><br><br>
  <button id="register-button" type="submit" (click)="addDoctor()" >Register</button>
</div>
