<script src="../service/caregiver.service.ts"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<table class="table" >
  <thead class="thead-dark">
  <th scope="col">Medication NO </th>
  <th scope="col">Start Time</th>
  <th scope="col"> Period </th>
<!--  <th scope="col"> Patient Name </th>-->
  <th scope="col"> Medication</th>
  </thead>
  <tbody>
  <tr *ngFor="let medicationPlan of medicationPlans; index as i" >
    <th scope="row"> {{i + 1}} </th>
    <td> {{medicationPlan.startTime}}</td>
    <td > {{medicationPlan.period}} </td>
<!--    <td > {{medicationPlan.patient.name}} </td>-->
    <td>
      <table class="table">
        <thead class="thead-dark">
        <th scope="col">Name</th>
        <th scope="col">Side effects</th>
        <th scope="col">Dosage</th>
        <th>Intake Interval</th>
        </thead>
        <tbody>
        <tr *ngFor="let med of medicationPlan.medicationPlan; index as intervalCount">
          <td>{{med.name}}</td>
          <td>{{med.sideEffects}}</td>
          <td>{{med.dosage}}</td>
          <td>{{medicationPlan.intakeIntervals[intervalCount]}}</td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
