<script src="../service/caregiver.service.ts"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div style="text-align: center; width: 50%; margin: auto">
    <div class="form-group">
    <label for="name">Name</label>
  <input class="form-control" id="name" type="text" value="{{patient.name}}" [(ngModel)]="patient.name">
    </div>
    <div class="form-group">

    <label for="username">Username</label>
  <input class="form-control" id="username" type="text" value="{{patient.username}}" [(ngModel)]="patient.username">
    </div>
    <div class="form-group">
    <label for="password">Password</label>
  <input class="form-control" id="password" type="text" value="{{patient.password}}" [(ngModel)]="patient.password">
    </div>
    <div class="form-group">
    <label for="address">Address</label>
  <input class="form-control" id="address" type="text" value="{{patient.address}}" [(ngModel)]="patient.address">
    </div>
    <div class="form-group">
    <label for="date">Birth Date</label>
  <input class="form-control" id="date" type="text" placeholder="yyyy-mm-dd" value="{{patient.birthDate}}" [(ngModel)]="patient.birthDate">
    </div>
<!--  <br>-->
    <div class="form-group">
    <label for="medicalRecord">Medical Record</label>
  <input class="form-control" id="medicalRecord" type="text" value="{{patient.medicalRecord}}" [(ngModel)]="patient.medicalRecord">
    </div>
<!--  <br>-->
    <div class="form-group">
    <input type="radio" id="contactChoice1"
         name="contact" value="Male" [(ngModel)]="patient.gender">
  <label for="contactChoice1">M</label>

  <input type="radio" id="contactChoice2"
         name="contact" value="Female" [(ngModel)]="patient.gender">
  <label for="contactChoice2">F</label>
    </div>
  <form>
    <label>
      <select [(ngModel)]="selectedCaregiver" [ngModelOptions]="{standalone: true}">
        <option *ngFor="let caregiver of caregivers; index as i" value="{{i}}">{{caregiver.name}}</option>
      </select>
    </label>
  </form>
  <br>
  <input type="button" (click)="updatePatient()" value="Update Patient!">
<!--  <input type="button" value="Create!" (click)="createPatient()">-->
</div>
