
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- Navbar content -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="patientsPage()"> Patients <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" (click)="caregiversPage()"> Caregivers <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" (click)="assignCaregiverPage()"> Asign Caregiver <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" (click)="medicationPlanPage()"> Medication Plan <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" (click)="medicationPage()"> Medications <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<h3>Welcome doctor, {{loggedDoctor.name}}</h3>
<input type="button" value="Logout" style="float: right; margin-right: 50px" (click)="logout()">

<!--<h4>Here are all the caregivers and theirs patients</h4>-->

<!--<button type="submit" (click)="deleteSelectedUser()">Delete selected</button>-->
<!--<button type="submit" (click)="updateSelectedUser()">Update selected</button>-->
<!--<table>-->
<!--  <thead>-->
<!--    <th> Id </th>-->
<!--    <th> Username </th>-->
<!--    <th> Name </th>-->
<!--    <th> CNP </th>-->
<!--    <th> User Type </th>-->
<!--    <th> Selected </th>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--    <tr *ngFor="let user of users; index as i">-->
<!--      <td> {{user.id}} </td>-->
<!--      <td> {{user.username}} </td>-->
<!--      <td> {{user.name}} </td>-->
<!--      <td> {{user.cnp}} </td>-->
<!--      <td> {{user.role}} </td>-->
<!--      <input type="radio" name="selection" [(ngModel)]="selectedUser" value="{{i}}"/>-->
<!--    </tr>-->
<!--  </tbody>-->
<!--</table>-->
