<script src="../service/caregiver.service.ts"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div id="datePicker">
  <label for="date"> Please pick a date!  </label>
  <br>
  <input id="date" type="date" [(ngModel)]="dateSelected" value="{{ dateSelected | date: 'yyyy-MM-dd' }}" (change)="findActivities()"/>
</div>

<div id="chartContainer" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>

<div id="tableActivities">
  <table class="table table-bordered" style="text-align: center">
    <thead class="thead-dark">
    <th> Index </th>
    <th scope="col"> Type </th>
    <th scope="col"> Start time </th>
    <th scope="col"> Duration </th>
    <th scope="col"> Valid </th>
    <th scope="col"> Mark normal </th>
    <th scope="col"> Add Recomandation </th>
    </thead>
    <tbody>
    <tr *ngFor="let activity of activities; index as i" >
      <th scope="row"> {{i + 1}} </th>
      <td > {{activity.activity}} </td>
      <td > {{activity.startTime}} </td>
      <td > {{activity.duration}} </td>
      <td > {{activity.valid}} </td>
      <td > <input type="submit" value="Mark as normal" *ngIf="!activity.valid" (click)="markNormal(i)"> </td>
      <td >
        <form>
          <label>
            <input id="msg" type="text" name="msg" [(ngModel)]="message[i]"/>
          </label>
          <br>
          <input type="submit" value="Write recomandation" *ngIf="!activity.valid" (click)="createRecomandation(activity.activityId, message[i])">
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>
